<form action="results" method="get">
  <label>Search for a book</label><br>
  <input type="text" id="in" name="book_title" placeholder="Enter a book title">
  <input type="submit" id="sub" value="Submit Search">
</form>
